<!DOCTYPE html>
<!-- For demo purpose, I simply bind the app and controller to this page since no route has been set up -->
<html lang="en-US" ng-app="demoApp" ng-controller="NewsController">

<head>
<!-- For this demo, I will include each file manually. 
But in reality we can use some deployment library like Gulp -->
<script type="text/javascript" src="./static/js/lib/angular.min.js"></script>
<script type="text/javascript" src="./static/js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="./static/js/lib/angular-animate.min.js"></script>

<script type="text/javascript" src="./static/js/home/app.js"></script>

<script type="text/javascript" src="./static/js/home/controllers/NewsController.js"></script>

<script type="text/javascript" src="./static/js/home/services/newsService.js"></script>

<script type="text/javascript" src="./static/js/home/directives/nav-bar.js"></script>
<script type="text/javascript" src="./static/js/home/directives/carousel.js"></script>


<link rel="stylesheet" href="./static/css/lib/bootstrap.min.css">
<link rel="stylesheet" href="./static/css/demo.css">
</head>

<body>
  <!-- 
  This part can be move to become a generic news page layout and can be used by many pages to display in the same layout
  some css class name can be further generalized
   -->
  <div class="container container-fluid">
    <div class="col-md-12 page-content">
      <header class="page-title" title="Page Title">
        <h3>
          <span class="text-blue">NEWS</span>CORP
        </h3>
      </header>
      
      <div class="page-body">
        <nav nav-bar="categories" select-fn="chooseCategory(event, item)"></nav>

        <!-- news-view can be a sub state or a named view of the news state depending
          on our route setup
          for simplicty, I will leave this as static content, since routing is not defined.
       -->
        <main class="news-container">
          <div class="news-header">
            <h2 title="New Title" class="news-title">{{ news.title}}</h2>
            <div title="News Subtitle" class="subtitle">
              By {{ news.reporter }} <time class="date">{{news.publishDate}}</time>
            </div>
          </div>
          
          <!-- News body contains a summary section and main story section -->
          <article class="news-body">
            <section title="New Summary">
              <p class="news-summary">{{news.summary}}</p>
            </section>
            
            <!-- Starting of news main story-->
            <section class="row" title="New Content">
              <div class="news-images col-xs-7">
                <div carousel="" images="images" interval="3000"></div>
              </div>

              <div class="col-xs-5 news-cards">
                <div ng-repeat="card in news.cards" class="news-card">
                  <h3 title="News Snipet title">{{card.title}}</h3>
                  <p>{{card.content}}</p>
                </div>
              </div>
            </section>
          </article>
        </main>
      </div>
    </div>
  </div>
</body>
</html>