/*
 For simplicty, the styles are quickly defined
 
 Colours are rough estimate
*/
body{
	background-color: #eee;
	font-size: 15px;
}

.page-title{
	margin: 0 0 25px 0;
}

.inline{
	display: inline-block;
	
}

.container{
	margin-top: 25px;
	box-shadow: 0 0 5px black;
	padding:15px 15px 15px 15px;
	background-color: white;
}

.news-header{
	margin: 15px 0 25px 0;
	
}

.news-header .news-title{
	font-weight: bold;
  width: 50%;
}

.subtitle{
	font-size: 12px;
}

.subtitle .date {
	color: #778899;
}

.news-body .news-summary{
	margin: 0 0 25px 0;
	
}

.news-body .news-cards .news-card{
	margin-bottom: 25px;
	
}
.news-body .news-cards h3:nth-child(1){
	margin-top: 0;
	
}

.pointer{
	cursor: pointer
}

.text-blue{
	color: #0000CD;
}
/*
   Carousel css
*/

.carousel-container .active-image img{
  width: 100%;
}

.carousel-container .previews {
	text-align: center;
	margin-top: 10px;
}

.carousel-container .previews .preview-image{
	display: inline-block;
	width: 25%;
}

.carousel-container .previews .preview-image img{
  width: 90%;
}

.carousel-container .previews .preview-image:nth-child(1){
  margin-left: 0;
	}

/*
  Nav bar css
*/
.nav-container hr{
	margin-top:5px;
	border-top: 1px solid grey;
}