<section class="carousel-container">
  <figure class="active-image" ng-repeat="activeImage in images | filter:{active: true}| limitTo: 1" ng-animate>
    <img alt="{%{activeImage.title}%}" ng-src="{{activeImage.src}}">
    <figcaption class="subtitle">{{activeImage.subtitle}}</figcaption>
  </figure>
  <div class="previews">
    <figure class="pointer preview-image" ng-repeat="(index, image) in images | filter:{active: false}"> <img alt="{{image.title}}"
      ng-click="selectImage(index)" ng-src="{{image.src}}">
    </figure>
  </div>
</section>