<nav class="nav-container">
  <ul class="nav nav-pills">
    <li role="presentation" class="pointer inline nav-item" ng-repeat="item in navItems" ng-class="{'active': item.active}">
    <!-- For demo purpose removed the href -->
    <a ng-href="" ng-click="select(event, item)">{{item.name}}</a></li>
  </ul>
  <hr />
</nav>